<div class="sidebar">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li class="active">
                <a href="#">
                    <img class="icon" src="assets/icons/home.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon" src="assets/icons/search.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon" src="assets/icons/add.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon" src="assets/icons/like.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon" src="assets/icons/user.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
    <div class="login">
        <button class="login-btn">Log in</button>
    </div>
</div>