@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #000000;
    --secondary: #777777;
    --tertiary: #efefef;
    --neutral: #f9f9f9;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--neutral);
    color: var(--primary);
}

